@tailwind base;
@layer base {
	html {
	  @apply text-[#555555];
	} 
  }
@tailwind components;
@tailwind utilities;


.container {
	padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 1100px) {
	.container {
	  max-width: 1070px;
	}
}

@media (min-width: 1100px) {
	.main-header .container {
		max-width: 1270px;
	}
}

html,
body {
	width: 100%;
    height: 100%;
}
.wrapper {
	display: flex;
    flex-flow: column nowrap;
    width: 100%;
    min-height: 100%;
    position: relative;
}
.wrapper > *{
	flex: 0 0 auto;
}
.wrapper > main {
	flex: 1 0 auto;
}


/* Bg Effect
--------------------*/

.body-bg {
	@apply fixed top-0 left-0 right-0 bottom-0 -z-[1] pointer-events-none;
}
.bg-full {
	@apply bg-[rgba(255,255,255,.2)]  backdrop-blur-[293px] fixed top-0 left-0 right-0 bottom-0 shadow-[inset_100px_-100px_100px_rgba(194,194,194,0.2),_inset_-100px_100px_100px_rgba(255,255,255,0.2)] z-10;
}

.bg-ef {
	@apply opacity-60 w-[30vw] h-[30vw] absolute;
}

.bg-1 {
	@apply top-0 right-0 bg-[#FD3F3F] bg-opacity-60;
}
.bg-2 {
	@apply bottom-0 right-0 bg-[#F9B64D] bg-opacity-60;
}
.bg-3 {
	@apply top-0 left-0 bg-[#F9417D] bg-opacity-60;
}
.bg-4 {
	@apply bottom-0 left-0 bg-[#886BA1] bg-opacity-60;
}

/* Wrapper
--------------------*/
.main-wrap {
	@apply pt-10 relative;
}

/* Btn
--------------------*/
.btn {
	@apply px-[30px] py-[18px] text-[14px] uppercase tracking-[2px] font-[500] ease-in duration-300 inline-flex items-center justify-center rounded-md;
}
.btn[disabled] {
	pointer-events: none;
    opacity: 0.7;
}

.btn .btn-icon {
	@apply ml-4;
}
.btn .btn-icon:first-child {
	@apply ml-0 mr-4;
}

.btn-primary {
	@apply bg-[#E4322A] text-white hover:bg-black;
}

.btn-dark {
	@apply bg-black text-white hover:bg-[#E4322A];
}


/* Header
--------------------*/
.main-header .countdown {
	@apply ml-auto bg-blue-600 px-5 py-3 rounded-md text-white text-lg font-[600];
}

/* Card
--------------------*/
.card {
	@apply bg-white rounded-[12px] shadow-md;
}
.card .card-header {
	@apply py-4 px-6 border-b;
}
.card .card-body {
	@apply p-6;
}

.card .card-header-title {
	@apply font-[600] text-black text-[28px];
}

/* Form
--------------------*/
.floating-label {
	@apply relative;
}
.floating-label label {
	@apply absolute top-0 left-0 h-full py-[1rem] px-[0.75rem] pointer-events-none border border-transparent origin-[0_0] ease-in-out duration-100; 
}
.floating-label .form-control {
	@apply bg-[#f3f3f3] pt-[1.625rem] pb-[.625rem] px-[.75rem] border border-b-2 border-stone-200 text-[1rem] outline-none h-[calc(3.5rem+2px)] w-full rounded-md;
}

.floating-label .form-select {
	@apply bg-[#f3f3f3] pt-[1.625rem] pb-[.625rem] px-[.75rem] border border-b-2 border-stone-200 text-[1rem] outline-none h-[calc(3.5rem+2px)] w-full rounded-md;
}

.floating-label .form-control:focus {
	@apply border-b-slate-700;
}

.floating-label .form-control:focus~label,
.floating-label .form-control:not(:placeholder-shown)~label {
	@apply opacity-60 translate-x-[0.05rem] -translate-y-[0.5rem] scale-[0.85];
}

.floating-label .form-select~label {
	@apply opacity-60 translate-x-[0.05rem] -translate-y-[0.5rem] scale-[0.85];
}



.list-type li {
	@apply relative pl-[46px] pr-6 py-3 after:absolute bg-gray-100 mb-3 rounded-md;
}
.list-type li:after {
	@apply w-[12px] h-[12px] left-[15px] top-[18px] bg-[#E4322A] rounded-full border-2 border-white shadow-[0_0_0_3px] shadow-[#E4322A];
}

/* Question
--------------------*/
.question-box {
	@apply lg:px-[80px] xl:px-0;
}
.question-box .que-no {
	@apply w-[60px] h-[60px] flex items-center justify-center bg-black rounded-full text-2xl text-white font-[600] mx-auto mb-4;
}
.question-box .que-line {
	@apply text-center pb-9 md:pb-14;
}
.question-box .que-line h3 {
	@apply text-center text-[20px] md:text-[36px] text-black font-[600] leading-[1.3];
}


.que-option textarea {
	@apply p-4 w-full border border-slate-200 bg-white shadow-sm rounded-md outline-none;
}

.que-option {
	@apply bg-white p-3 pl-[45px] border border-transparent flex items-center relative shadow-sm rounded hover:shadow-md ease-in duration-300;
}

.sm\:col-span-12 .que-option {
	@apply pl-3;
}
.que-option label {
	@apply after:absolute after:top-0 after:bottom-0 after:left-0 after:right-0 after:cursor-pointer;
}


.que-option span {
	@apply absolute w-[18px] h-[18px] border border-slate-400 rounded top-[15px] left-[15px] after:absolute;
}
.que-option span::after {
	@apply w-[6px] h-[10px] border-t-2 border-l-2 border-white top-[1px] left-[5px] rotate-[0] opacity-0 ease-in-out duration-300;
}

.que-option input[type="radio"] ~ span {
	@apply rounded-full;
}

.que-option input[type="radio"],
.que-option input[type="checkbox"] {
	@apply opacity-0 absolute top-0 left-0;
}

.que-option input[type="radio"]:checked ~ span,
.que-option input[type="checkbox"]:checked ~ span {
	@apply bg-black border-black;
}
.que-option input[type="radio"]:checked ~ span::after,
.que-option input[type="checkbox"]:checked ~ span::after {
	@apply opacity-100 rotate-[-145deg];
}


.question-wrap {
	@apply bg-white sticky bottom-0 mt-10 p-4 overflow-x-auto max-w-[100%] lg:mt-0 lg:rounded-md lg:shadow-sm flex lg:flex-col lg:fixed lg:left-[20px] lg:top-[101px] lg:bottom-[20px] lg:overflow-y-auto shadow-md;
}

.question-wrap .que-menu {
	@apply min-w-[40px] min-h-[40px] inline-flex items-center justify-center border border-gray-400 rounded-full font-[600] text-lg mx-3 lg:mb-4 lg:mx-0 relative bg-white z-[1] cursor-pointer relative;
}

.question-wrap .que-menu.done {
	@apply bg-green-500 text-white border-green-500;
}

.question-wrap .que-menu.active {
	@apply bg-green-100 border-green-400 text-green-500;
}

.question-quit {
	@apply bg-white p-4 rounded-md shadow-sm ;
}
.question-quit .btn {
	@apply py-[10px];
}

.question-counts {
	@apply absolute bottom-[30px] left-0 right-0;
}
